<div>
<li class="text-muted"><p><em>Item name: {{shop.title}}</em></p>
	<p>Price: {{shop.price}}</p>
	<p><small>Description: {{shop.description}}</small></p></li>
	<form method="POST" action="">
	<input type="submit" id = {{shop.id}} name = {{shop.id}} value="request">
</form>
</div>