
<p>{{error}}</p>

<ol>
{{#each shop}}
<li class="text-muted"><p><em>Item name: {{title}}</em></p>
	<p>Price: {{price}}</p>
	<p><small>Description: {{description}}</small></p></li>
	<form method="POST" action="">
	<input type="submit" id = {{id}} name = {{id}} value="request">
</form>
{{/each}}
</ol>
