
<p>{{error}}</p>

<ol>
{{#each shop}}
<li class="text-muted"><p><a href = "/share/{{_id}}">Item name: {{title}}</a></p>
	<p>Price: {{price}}</p>
	<p><small>Description: {{description}}</small></p></li>
</form>
{{/each}}
</ol>
